---
import { getCollection, getEntry } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<html>
  <head>
    <meta charset="utf-8">
    <title>{post.data.title}</title>
  </head>
  <body>
    <h1>{post.data.title}</h1>

    {post.data.cover && (
      <img src={post.data.cover} alt={post.data.title} width="250" />
    )}

    <p>{new Date(post.data.date).toLocaleDateString()}</p>

    <article>
      <Fragment set:html={post.body} />
    </article>
  </body>
</html>
